.env
.env.*
.git
.gitignore
.dockerignore
.phpunit.cache
.phpunit.result.cache
.phpactor.json
.idea
.vscode
.zed
.fleet
.nova
.DS_Store
node_modules
vendor
storage/*.key
storage/pail
tests
phpunit.xml
Thumbs.db
Homestead.json
Homestead.yaml
*.log
.claude
_internal
opencode.json
